
body {
  font-family: Arial, Helvetica, sans-serif;
 background-color: #333;
  margin:0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
 background-color: #fff;
 
 color: #333;
 padding: 20px;
 border-radius: 9px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 max-width: 300%;
 width:150% ;
 text-align: center;
}

h1 {
  color:#4a90e2;
  text-shadow: rgba(0, 0, 255, 1) -1px -2px 0.1em;
}

label {
  display: block;
  margin-top: 5px;
  font-weight: bold;
}

input {
  width: calc(100%-24px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #cfb35e;
  color: rgb(29, 27, 27);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #357ab8;
  transform: scale(.9);
}

